* {
    margin: 0;
    padding: 0;
  }
  .header {
    height: 115px;
    padding: 0 25px;
  }
  .containerH {
    display: flex;
    align-items: center;
    /* background-color: red; */
    height: 100%;
    justify-content: space-between;
  }
  
  .dropdown.m a {
    margin-left: 40px;
  }
  .dropdown a {
    color: gray;
  }
  .dropdown.active a:before {
    width: 100%;
    margin: 0px auto;
    position: absolute;
    content: "";
    height: 6px;
    top: 45%;
    left: 0px;
    z-index: -1;
    background: #ffe115;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  
  .dropdown a {
    font-size: 14px;
    color: #2d3a4b;
    font-weight: 320;
    padding: 15px 0px;
    margin: 0 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .right {
    position: relative;
    top: 3px;
  }
  
  .slider {
    /* This may be so that everything can stick to this! */
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .myslide {
    display: none;
    overflow: hidden;
  }
  
  
  .prev,
  .next {
    /* Ok, this is very important, the reason why this works is because
      we first put slidder into position: relative, that means if we have an
      element as a child of the slidder element that is position absoulte,
      it will level its self based on the parent elelment, and not the whold html document!! */
    position: absolute;
    top: 50%;
    color: gray;
    transform: translate(0, -50%);
    font-size: 50px;
    padding: 15px;
    text-decoration: none;
    transition: 0.1s;
  }
  .dotsbox {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
  }
  
  .dot {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: solid 3px black;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .prev:hover,
  .next:hover {
    color: gray;
  }
  .next {
    right: 0;
  }
  .txt {
    position: absolute;
    top: 15%;
    left: 5%;
  }
  
  img {
    width: 100%;
  }
  .contain {
    max-height: 900px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .content {
    margin-top: 60px;
  }
  .heading h4 {
    font-weight: bold;
    color: #2d3a4b;
    font-size: 26px;
    /* margin: 0 auto; */
    margin-bottom: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    /* width: 300px; */
    text-align: center;
  }
  
  .heading {
    /* position: relative; */
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .heading p {
    /* display: inline-block; */
    /* background-color: red; */
    max-width: 550px;
    font-size: 14px;
    margin: 0 auto;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #666666;
    font-family: "Playfair Display", serif;
    /* text-align: center;
     */
    /* text-align: center; */
  }
  
  .items {
    margin-top: 40px;
    max-width: 640px;
  }
.img-1 {
    width: 100%;
}

/* .row {
    background-color: green;
    padding:  0px !important;
    padding-right: calc(var(--bs-gutter-x) * .5) !important; 
    padding-left: calc(var(--bs-gutter-x) * .5) !important;
} */

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-top: var(--bs-gutter-y);
}